<!DOCTYPE html>
<html>
<head>
    <title>Le Matte - Tienda de Mates</title>
    <link rel="stylesheet" href="#">
</head>
<body>
    {{{body}}} <!-- Esta es la parte que se reemplazará con el contenido de cada vista -->
    <script src="/scripts/main.js"></script>
</body>
</html>
